<div style="text-align: center; margin-top: 10vh; text-align: -webkit-center;">
    <span class="ft-bold pl-3 pr-3 pt-1" style="font-size: 3rem; background: #ec7bc4; color: black;">SHELVES</span>
    <br><br>
    <div style="max-width: 70vw;">
        <span class="ft-text">
            <span class="pr-1 pl-1" style="background-color: #ffba91;">SHELVES</span>
            is a web application developed using Yii, MySQL, Angular, Angular Material, RxJS, CSS, HTML, Amazon Web Services (EC2, RDS, S3).
            It allows a user to login, see the most popular reads, browse different categories of books (the fantasy shelf, the classics shelf...), read a short description of the book that will give him an idea about the plot.
            Books can be added to the personal shelf. The user can also read the books online, setting bookmarks and flipping pages. Books that are currently being read have a section on the personal shelf page.
            The website also offers the posibility of uploading a new book to the shelves, incouraging users to build an ever growing library.
        </span>
    </div>
    <br>
    <img style="max-width: 70vw;" src="./../../assets/welcome.png">
    <br><br>
    <img style="max-width: 70vw;" src="./../../assets/login.png">
    <br><br>
    <img style="max-width: 70vw;" src="./../../assets/signup.png">
    <br><br>
    <img style="max-width: 70vw;" src="./../../assets/main.png">
    <br><br>
    <img style="max-width: 70vw;" src="./../../assets/browse.png">
    <br><br>
    <img style="max-width: 70vw;" src="./../../assets/shelf.png">
    <br><br>
    <img style="max-width: 70vw;" src="./../../assets/upload.png">
</div>