<div style="text-align: center; margin-top: 10vh; text-align: -webkit-center;">
    <span class="ft-bold pl-3 pr-3 pt-1" style="font-size: 3rem; background: #ec7bc4; color: black;">SHELVES</span>
    <br><br>
    <img style="max-width: 70vw;" src="./../../assets/welcome.png">
    <br><br>
    <img style="max-width: 70vw;" src="./../../assets/login.png">
    <br><br>
    <img style="max-width: 70vw;" src="./../../assets/signup.png">
    <br><br>
    <img style="max-width: 70vw;" src="./../../assets/main.png">
    <br><br>
    <img style="max-width: 70vw;" src="./../../assets/browse.png">
    <br><br>
    <img style="max-width: 70vw;" src="./../../assets/shelf.png">
    <br><br>
    <img style="max-width: 70vw;" src="./../../assets/upload.png">
</div>