.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

::ng-deep.mat-dialog-container {
    background-image: url('./../../assets/portfolio_background1.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: auto;
}