<div class="my-5" style="text-align: center; text-align: -webkit-center;">
    <span class="ft-bold pl-3 pr-3 pt-1 white-shadow" style="font-size: 3rem; background: #6cb5ec; color: black;">LIFE ON NUTRITION</span>
    <br><br>
    <div class="w-100 mt-5" style="display: flex; justify-content: center;">
        <div style="max-width: 70vw;">
            <div class="ft-text">
                <span class="pr-1 pl-1" style="background-color: #6cb5ec;">LIFE ON NUTRITION</span>
                <span>
                    short project description ...
                </span>
            </div>
        </div>
    </div>
</div>