<body [ngClass]="{'background-skills-light': !isDarkTheme(), 'background-skills-dark': isDarkTheme()}">
	<br><br><br>
	<div class="row" style="display: flex; flex-wrap: wrap; margin-top: -30px;">
		<div class="col ml-5" style="text-align: initial; height: auto">
			<img class="bottom w-100" *ngIf="isDarkTheme()" src="../../assets/woman2_dark.png"/>
			<img class="top w-100" *ngIf="!isDarkTheme()" src="../../assets/woman2_light.png"/>
		</div>
		<div class="col" style="display: flex; align-items: center; justify-content: center;">
			<div class="mr-5 ml-5">
				<h1 class="ft x-large white" style="text-align-last: center;">My skills</h1>
				<br>
				<mat-chip-list>
					<mat-chip *ngFor="let skill of skills">
						{{skill}}
					</mat-chip>
				</mat-chip-list>
			</div>
		</div>
	</div>
</body>
