.background1 {
    background-image: url('./../assets/portfolio_background1.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.background2 {
    background-image: url('./../assets/portfolio_background2.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.background3 {
    background-color: #ff8f35;
}

.background4 {
    background-color: #0167b4;
}

.background5 {
    background-image: url('./../assets/portfolio_background3.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.background-color {
    background-color: #05050e;
}

.ft-bold {
    // font-family: 'Josefin Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
}

.ft-regular {
    // font-family: 'Josefin Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.ft-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

// =================================
//        TEXT ALIGNMENT
// =================================
.overall-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// =================================
//          FONT SIZES
// =================================
.xx-large {
    font-size: 80px;
}

.x-large {
    font-size: 60px;
}

.large {
    font-size: large;
}

.small {
    font-size: small;
}

// =======================
//       TEXT BLIND
// =======================

.textblind {
	color: black;
	position: relative;
	padding-left: 18px;
	// font-family: Arial;
	// font-weight: bold;
	font-size: 3rem;
	text-transform: uppercase;
    line-height: 1;
}
	
.blind {
    display: block;
    overflow: hidden;
    animation: dropin 0.5s forwards;
}
		
.initial-span {
    display: block;
    opacity: 0;
    transform: translateY(-100%);
}

@keyframes dropin {
	 0%  { transform: translateY(-100%); opacity: 1; }
    10%  { transform: translateY(-90%);  opacity: 1; }
    20%  { transform: translateY(-80%);  opacity: 1; }
    30%  { transform: translateY(-70%);  opacity: 1; }
    40%  { transform: translateY(-60%);  opacity: 1; }
    50%  { transform: translateY(-50%);  opacity: 1; }
	60%  { transform: translateY(-40%);  opacity: 1; }
    70%  { transform: translateY(-30%);  opacity: 1; }
    80%  { transform: translateY(-20%);  opacity: 1; }
    90%  { transform: translateY(-10%);  opacity: 1; }
    100% { transform: translateY(0);     opacity: 1; }
}

// =============================
//         TEXT SWAPPING
// =============================

.completing-text-container {
    color: black;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
}
  
.message {
    background-color: #ec7bc4;
    color: black;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    top: 0.2rem;
    animation: openclose 8s ease-in-out infinite;
}
  
@keyframes openclose {
    // first word:
    0%  { top: 0.2rem; width: 0 }
    5%  { width: 320px }
    10% { width: 320px }
    15% { width: 320px }
    20% { top: 0.2rem; width: 0 }

    // second word:
    25% { top: -4.5rem; width: 0 }
    30% { width: 235px }
    35% { width: 235px }
    40% { width: 235px }
    45% { top: -4.5rem; width: 0 }

    // third word:
    50% { top: -9rem; width: 0 }
    55% { width: 240px }
    60% { width: 240px }
    65% { width: 240px }
    70% { top: -9rem; width: 0 }
    
    // forth word:
    75% { top: -13.5rem; width: 0 }
    80% { width: 190px }
    85% { width: 190px}
    90% { width: 190px }
    95% { top: -13.5rem; width: 0 }

    100% { top: 0.2rem; width: 0 }
}

.dont-show {
    display: none;
}

.show {
    display: list-item;
}

.scrolling-box {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
  
// section {
//     height: 100%;
// }

a {
    text-decoration: none;
    color: black;
}

.fill-pink-black {
    color: black;
    background: linear-gradient(to right, #ec7bc4, #ec7bc4 50%, black 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
    &:hover {
        background-position: 0 100%;
    }
}

.fill-pink-white {
    color: white;
    background: linear-gradient(to right, #ec7bc4, #ec7bc4 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
    &:hover {
        background-position: 0 100%;
    }
}

.fill-dark-white {
    color: white;
    background: linear-gradient(to right, #05050e, #05050e 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
    &:hover {
        background-position: 0 100%;
    }
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .col {
        flex: 50%;
    }
}

/* On screens that are 800px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
    }
}


// MACBOOK MOCKUP

.css-mb {
    max-width: 800px; /* Set the desired maximum width of the macbook */
    min-width: 50px; /* Set the desired minimum width of the macbook */
    margin: 50px auto 0; /* Align mockup to center */
}
  
.css-mb div {
    box-sizing: border-box !important; /* Just in case */
}
  
/* Center the display */
.css-mb .mb-display-position {
    width: 80%;
    margin: 0 auto;
}
  
/* The display */
.css-mb .mb-display {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 65.9442%;
    background: #373435;
    
    -webkit-border-top-left-radius:  3.5% 5.3075%;
        -moz-border-radius-topleft:  3.5% 5.3075%;
            border-top-left-radius:  3.5% 5.3075%;
    
    -webkit-border-top-right-radius: 3.5% 5.3075%;
        -moz-border-radius-toptight: 3.5% 5.3075%;
            border-top-right-radius: 3.5% 5.3075%;
}
  
/* Webcam */
/* Browser may not render a perfect circle */
.css-mb .mb-display:before {
    content: '';
    display: block;
    position: absolute;
    top: 3%;
    left: 50%;
    width: 1%;
    height: 1.5164%;
    margin-left: -0.5%;
    border-radius: 50%;
    background: #525252;
}
  
/* Glare */
/* Browser may not render the top and right offset evenly */
.css-mb .mb-display:after {
    content: '';
    display: none;
    position: absolute;
    right: 0.4%;
    top: 0.64%; 
    width: 62.5%;
    height: 100%;
    
    background: none; /* Hide the gradient on older browsers */
    background:    -moz-linear-gradient(55deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%); /* FF3.6+ */
    background: -webkit-linear-gradient(36deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%); /* Chrome10+ and Safari5.1+ compute the degree differently */
    background:      -o-linear-gradient(55deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%); /* Opera 11.10+ */
    background:     -ms-linear-gradient(55deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%); /* IE10+ */
    background:         linear-gradient(55deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%);
    
    -webkit-border-top-right-radius: 5.3075%;
        -moz-border-radius-toptight: 5.3075%;
            border-top-right-radius: 5.3075%;
}
  
/* Only show glare, if the class is applied */
.css-mb.with-glare .mb-display:after { 
    display: block; 
}
  
/* Position the screen and give make it the right size, ratio 16:10 */
.css-mb .mb-screen-position {
    position: absolute;
    top: 6.5%;
    width: 93.2%;
    left: 3.4%;
    height: 0;
    margin: 0;
    padding-bottom: 58.25%; /* Ratio */
}
  
/* Give parent (this element) a "height", so that child elements can use height: 100%;*/
.css-mb .mb-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #4b4b4d; /* bg color if content is not big enough, or rendering is off */
}
  
/* Image on the screen */
.css-mb .mb-screen img {
    max-width: 100%;
    height: auto;
}
  
/* Iframe on the screen */
.css-mb .mb-screen iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
  
/* Macbook body */
.css-mb .mb-body {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 2.3%;
    background: #e6e7e8;
}
  
/* The groove */
.css-mb .mb-body:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 14.0740%;
    height: 0;
    padding-bottom: 1.4814%;
    margin-left: -7.037%;
    background: #a9abae;
    
    -webkit-border-bottom-left-radius:  7.0370% 50%;
        -moz-border-radius-bottomleft:  7.0370% 50%;
            border-bottom-left-radius:  7.0370% 50%;
    
    -webkit-border-bottom-right-radius: 7.0370% 50%;
        -moz-border-radius-bottomtight: 7.0370% 50%;
            border-bottom-right-radius: 7.0370% 50%;  
}
  
/* Macbook bottom */
.css-mb .mb-bottom-cover {
    width: 100%;
    height: 0;
    padding-bottom: 0.7407%;
    background: #a9abae;
    
    -webkit-border-bottom-left-radius:  12% 600%;
        -moz-border-radius-bottomleft:  12% 600%;
            border-bottom-left-radius:  12% 600%;
    
    -webkit-border-bottom-right-radius: 12% 600%;
        -moz-border-radius-bottomtight: 12% 600%;
            border-bottom-right-radius: 12% 600%; 
}

.white-shadow {
    text-shadow: 0 1px 0 #efefef,
    0 2px 0 #efefef,
    0 3px 0 #efefef,
    0 4px 0 #efefef
}

.floating {
    text-shadow: 0 1px 0 #efefef,
                 0 2px 0 #efefef,
                 0 3px 0 #efefef,
                 0 4px 0 #efefef;
    animation: swing 3s linear infinite alternate;
}
  
@keyframes swing {
    from {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(-5deg);
    }
}