.background-about {
    background-image: url('./../assets/klim-musalimov-1r0aLUYxUH0-unsplash\ \(3\).jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.background {
    background-image: url('./../assets/pink.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.ft-bold {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
}

.ft-regular {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

// =================================
//        TEXT ALIGNMENT
// =================================
.overall-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// =================================
//          FONT SIZES
// =================================
.xx-large {
    font-size: 80px;
}

.x-large {
    font-size: 60px;
}

.large {
    font-size: large;
}

// =======================
//       TEXT BLIND
// =======================

.textblind {
	color: black;
	position: relative;
	padding-left: 18px;
	// font-family: Arial;
	// font-weight: bold;
	font-size: 3rem;
	text-transform: uppercase;
    line-height: 1;
}
	
.blind {
    display: block;
    overflow: hidden;
    animation: dropin 0.5s forwards;
}
		
.initial-span {
    display: block;
    opacity: 0;
    transform: translateY(-100%);
}

@keyframes dropin {
	 0%  { transform: translateY(-100%); opacity: 1; }
    10%  { transform: translateY(-90%);  opacity: 1; }
    20%  { transform: translateY(-80%);  opacity: 1; }
    30%  { transform: translateY(-70%);  opacity: 1; }
    40%  { transform: translateY(-60%);  opacity: 1; }
    50%  { transform: translateY(-50%);  opacity: 1; }
	60%  { transform: translateY(-40%);  opacity: 1; }
    70%  { transform: translateY(-30%);  opacity: 1; }
    80%  { transform: translateY(-20%);  opacity: 1; }
    90%  { transform: translateY(-10%);  opacity: 1; }
    100% { transform: translateY(0);     opacity: 1; }
}

// =============================
//         TEXT SWAPPING
// =============================

.completing-text-container {
    color: black;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
}
  
.message {
    background-color: #ec7bc4;
    color: black;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    top: 0.2rem;
    animation: openclose 8s ease-in-out infinite;
}
  
@keyframes openclose {
    // first word:
    0%  { top: 0.2rem; width: 0 }
    5%  { width: 480px }
    10% { width: 480px }
    15% { width: 480px }
    20% { top: 0.2rem; width: 0 }

    // second word:
    25% { top: -4.5rem; width: 0 }
    30% { width: 480px }
    35% { width: 480px }
    40% { width: 480px }
    45% { top: -4.5rem; width: 0 }

    // third word:
    50% { top: -9rem; width: 0 }
    55% { width: 480px }
    60% { width: 480px }
    65% { width: 480px }
    70% { top: -9rem; width: 0 }
    
    // forth word:
    75% { top: -13.5rem; width: 0 }
    80% { width: 480px }
    85% { width: 480px}
    90% { width: 480px }
    95% { top: -13.5rem; width: 0 }

    100% { top: 0.2rem; width: 0 }
}

.dont-show {
    display: none;
}

.show {
    display: list-item;
}

.scrolling-box {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
  
section {
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.fill-pink-black {
    color: black;
    background: linear-gradient(to right, #ec7bc4, #ec7bc4 50%, black 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
    &:hover {
        background-position: 0 100%;
    }
}

.fill-pink-white {
    color: white;
    background: linear-gradient(to right, #ec7bc4, #ec7bc4 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
    &:hover {
        background-position: 0 100%;
    }
}