<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    </head>
    <body>        
        <div class="textblind" style="margin-top: 20%;">
            <span class="initial-span ft mt-2" id="blind1">Hi!</span>
            <span class="initial-span ft mt-2" id="blind2">I'm Irina</span>
            <span class="initial-span ft mt-2" id="blind3">and I'm a</span>
            <span class="initial-span completing-text-container" id="blind4">
                <span class="ft" style="color: white; font-size: 1px;">.</span>
                <div id="message">
                    <div class="ft">fermecatoare</div>
                    <div class="ft">bla bla</div>
                    <div class="ft">si bla bla</div>
                </div>
            </span>
        </div>
    </body>
</html>