<html>
    <head>
        <!-- <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">    
    </head>
    <body class="scrolling-box">
        <div class="w-100 pt-4 pb-4" style="display: flex; justify-content: center; position: fixed; z-index: 1000; background-color: rgba(255, 255, 255, 0.7);">
            <a href="#1" class="fill-pink-black"><span class="ft-regular mr-5 small" style="display: inline-block;">HOME</span></a>
            <a href="#2" class="fill-pink-black"><span class="ft-regular mr-5 small" style="display: inline-block;">ABOUT</span></a>
            <a href="#3" class="fill-pink-black"><span class="ft-regular mr-5 small" style="display: inline-block;">PROJECTS</span></a>
            <a href="#4" class="fill-pink-black"><span class="ft-regular small" style="display: inline-block;">CONTACT</span></a>
        </div>
        <router-outlet></router-outlet>
    </body>
</html>