<div class="row" style="display: flex; flex-wrap: wrap; margin-top: -30px;">
    <div class="col ml-4" style="display: flex; align-items: center; justify-content: center;">
        <div>
            <h1 class="ft xx-large primary-color pt-5" style="text-align-last: center;">Hi!</h1>
            <br>
            <div class="mr-4 ml-4">
                <span class="ft large secondary-color">I'm </span><span class="ft large primary-color">Irina Vasilescu</span><span class="ft large secondary-color"> and I'm a software developer.</span>
            </div>
            <br>
            <div style="text-align: center;">
                <button mat-raised-button color="primary" class="m-2"><span class="ft">MORE ABOUT ME</span></button>
                <button mat-stroked-button color="primary" class="m-2"><span class="ft">CONTACT ME</span></button>
            </div>
        </div>
    </div>
    <div class="col" style="text-align: initial; height: auto">
        <img class="bottom w-100" *ngIf="isDarkTheme()" src="../../assets/woman1_dark.png"/>
        <img class="top w-100" *ngIf="!isDarkTheme()" src="../../assets/woman1_light.png"/>
        <!-- <div id="crossfade" class="w-100">
            <img class="bottom w-100" src="../../assets/woman1_dark.png"/>
            <img class="top w-100" [ngClass]="{'transparent' : darkTheme}" src="../../assets/woman1_light.png"/>
        </div> -->
    </div>
</div>